*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./img/859b34ec-a208-45b3-ab28-bd01950e046e.jpg);
    background-position: center;
    background-size: cover;
    
}
.conteiner{
    min-width: 20px;
    width: 90%;
    max-width: 520px;
    background-color: rgb(156, 156, 156);
    border-radius: 10%;
    padding: 30PX 40PX;
    
}
/*area saldo*/
.saldo{
    width: 50%;
    text-align: center;
    font-size: x-large;
}
.saldo #dinheiro{
    margin-right: 1.6vh;
}
.perfil{
    display: flex;
    align-items: center;
    padding-left: 35px;
    
}
.perfil img{
    
    min-height: 30px;
    min-width: 30px;

    width: 99%;
    height: 99%;

    max-height: 110px;
    max-width: 110px;
   
    border-radius: 100%;
    
}
.perfil button{
    
    border-radius: 100%;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.perfil label{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    
}
/* area botoes*/
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}



.pix button, .transferir button, .buttons button, .sacar button{
    
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 3px;
    min-width: 3px;

    height: 100px;
    width: 100px;

    max-height: 90px;
    max-width: 90px;

    border-radius: 100%;
    cursor: pointer;
    margin: 1PX;
    border: 1px solid black;
    

}
/* area pix*/
.pix{
    position: relative;
}

.pix img{

    height: 50px;
    width: auto;
}
.pix p, .depositar p, .transferir p, .sacar p{
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
}

/* area transferir*/

.transferir img{
    height: 120px;
    width: auto;
    
}

/* area depositar*/

.depositar img{
    height: 70px;
    width: auto;
}
/* area sacar*/

.sacar img{
    height: 70px;
    width: auto;
}

