*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./img/859b34ec-a208-45b3-ab28-bd01950e046e.jpg);
    background-position: center;
    background-size: cover;

}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(156, 156, 156);
    width: 520px;
    border-radius: 10%;

}
.foto button{
    border-radius: 100%;
    width: 110px;
    height: 110px;
}
.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
}